body{
  padding-top: 9%;

}

.carousel {
  width: 100%;
  margin-left:auto;
}

.carousel-caption {
  position: absolute;
  top: 15%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
}

.w-100{
    border-radius: 40px;
}

.carousel-control-prev {
  border-radius: 40px;

}

.carousel-control-next {
  border-radius: 40px;

}


.container-fluid{
  padding: 7% 10%;
}



#title .container-fluid{
  padding: 1% 5%;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-item{
    height: 300px;
}
.carousel-item img{
    height: 300px;
}


.sidenav {
  height: 80%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 5%;
  background-color: transparent;
  overflow-x: hidden;
}

.sidenav a {
  width: 72px;
  height: 72px;
  margin-top: 4px;
  text-decoration: none;
  border-radius: 16px;
  color: #818181;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sidenav a:hover {
  color: #27e450;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.content2{
  padding-top: 5%;
}

.heading1{
  display: flex;
  align-items: baseline

}

.heading1 a{
padding-left: 80%;
}

.card{
  width: 20rem;
}

@media (max-width: 800px) {
  body{
    padding-top: 23%;
  }


  .carousel-item{
      height: 150px;
  }
  .carousel-item img{
      height: 150px;
  }


  .carousel-caption {
    width: 40%;
    position: absolute;
    top: 5%;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
    font-size: 0.8rem;

  }

  .sidenav {
    height: 85%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
  }

  h5{
    font-size: 1rem;
  }

  .navbar-brand{
    margin-right: -15rem;
  }

  .card{
    width: 18rem;
  }

  .heading1 a{
  padding-left: 45%;
  }
}
