:root {
    --primary-color: #f05123;
    --title-color: #222222;
    --text-color: #292929;
    --white-color: #ffffff;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}

.blog-wrapper {
    max-width: 48%;
    margin: 0 auto;
    display: block;
}

.blog-aside-wrapper {
    position: fixed;
    left: 8.33333%;
    top: 16%;
    width: 16.66667%;
}

.blog-aside {
    width: 80%;
}

.blog-aside__username {
    position: relative;
    color: var(--title-color);
    font-size: 16px;
    font-weight: 600;
}

hr {
    border: none;
    height: 1px;
    background-color: #e6e6e6;
}

.blog-aside__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.blog-aside__like,
.blog-aside__comment {
    display: inline-block;
    cursor: pointer;
}

.blog-aside__like-icon,
.blog-aside__comment-icon {
    opacity: 0.6;
}

.blog-aside__like:hover .blog-aside__like-icon,
.blog-aside__comment:hover .blog-aside__comment-icon {
    opacity: 1;
}

.blog-aside__like-icon--active {
    color: var(--primary-color);
    font-weight: 600;
    opacity: 1;
}

.blog-aside__like-quantity,
.blog-aside__comment-quantity {
    font-weight: 400;
    color: #757575;
}

h1 {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 700;
}

.detail__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.blog-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.blog-detail__user {
    display: flex;
    align-items: center;
}

.blog-detail__info {
    margin-left: 12px;
}

.blog-detail__name {
    color: var(--title-color);
    font-weight: 600;
}

.blog-detail__time {
    color: #757575;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.blog-detail__dot-icon {
    font-size: 3px;
    margin: 0 6px;
}
.blog-detail__action {
    position: relative;
    display: flex;
}

.blog-detail__icon-bookmark,
.blog-detail__icon-ellipsis {
    font-weight: 500;
    opacity: 0.6;
    cursor: pointer;
}
.blog-detail__icon-bookmark {
    margin-right: 16px;
}

.blog-detail__icon-bookmark:hover,
.blog-detail__icon-ellipsis:hover {
    opacity: 1;
}

.blog-detail__icon-bookmark--active {
    color: var(--primary-color);
    font-weight: 600;
    opacity: 1;
}

.blog-detail__option{
    position: absolute;
    width: 230px;
    top: 40px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    border-radius: 6px;
    z-index: 100;
    display: none;
}

.blog-detail__option--show{
    display: block;
}

.blog-detail__option-list{
    padding: 8px 0;
}

.blog-detail__option-item{
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.blog-detail__option-item:hover {
    background: #f0f0f0;
}

.blog-detail__option-icon{
    margin-right: 16px;
    color: var(--text-color)
}

.blog-detail__option-description{
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
}


.blog-content p,
.blog-content li,
.blog-content a {
    font-size: 18px;
    margin: 18px 0;
    color: var(--text-color);
    text-align: justify;
}

.blog-content li {
    margin-left: 20px;
    list-style: disc;
}

.blog-content img {
    max-width: 100%;
}

.blog-content strong {
    font-weight: 600;
}

.blog-content h2 {
    font-size: 27px;
    color: var(--text-color);
    margin: 23px 0;
}

.blog-content h3 {
    font-size: 23px;
    color: var(--text-color);
    margin: 21px 0;
}

.blog-bottom {
    margin: 60px 0;
}

.blog-bottom__like,
.blog-bottom__comment {
    display: inline-flex;
    font-size: 16px;
    color: #757575;
    padding: 0 8px;
    margin-right: 24px;
    justify-content: center;

    cursor: pointer;
}

.blog-bottom__like-icon,
.blog-bottom__comment-icon {
    font-size: 24px;
    margin-right: 8px;
    color: #000;
    font-weight: 300;
    opacity: 0.6;
}

.blog-bottom__like-icon--active {
    color: var(--primary-color);
    font-weight: 600;
    opacity: 1;
}

.blog-bottom__like:hover .blog-bottom__like-icon,
.blog-bottom__comment:hover .blog-bottom__comment-icon {
    opacity: 1;
}

.blog-bottom__like-icon--active:hover.blog-bottom__like-icon {
    font-weight: 600;
}

.blog-bottom__like-quantity,
.blog-bottom__comment-quantity {
    opacity: 1;
    font-weight: 400;
}

.blog-bottom__tag-wrapper {
    margin-top: 48px;
}

.blog-bottom__tag-item {
    text-decoration: none;
    color: #666;
    background-color: #f2f2f2;
    padding: 4px 8px;
    margin-right: 4px;
    border-radius: 2px;
}

.blog-bottom__tag:active {
    color: #666;
}

.post-with-same-author {
    margin-top: 48px;
}

.post-with-same-author__heading {
    font-size: 22px;
    color: var(--title-color);
    font-weight: 600;
    line-height: 1.6;
}

.post-with-same-author__post-list {
    margin: 20px 0 0 28px;
    list-style-type: disc;
}

.post-with-same-author__post-item{
    padding: 4px 0;
}

.post-with-same-author__post-link {
    text-decoration: none;
    color: var(--text-color);
}

.post-with-same-author__post-link:hover {
    text-decoration: underline;
}

/* Modal comment */
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.modal.modal--show {
    display: block;
}

.comment-container {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 40px;
    overflow-y: auto;
    animation: modalFadeIn ease 0.4s;

}

.comment-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.comment-heading {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}
.my-comment-wrapper {
    margin-top: 40px;
}
.my-comment {
    display: flex;
    align-items: center;
}

.my-comment__my-avatar-img {
    width: 36px;
    border-radius: 50%;
    margin-right: 16px;
}

.my-comment__input {
    width: 100%;
    border: none;
    padding: 0 0 4px 0;
    line-height: 1.6;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: var(--text-color);
}

.my-comment__input::placeholder {
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.my-comment__input:focus {
    outline: none;
}

.my-comment__btn {
    margin-top: 8px;
    margin-left: auto;
    display: block;
    padding: 8px 16px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6rem;
    cursor: pointer;
}

.comment-body {
    margin-top: 20px;
}


.comment-item {
    display: flex;
    margin-bottom: 20px;
}

.comment-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 16px;
}

.comment-box {
    background-color: #f2f3f5;
    padding: 8px 12px;
    border-radius: 12px;
}

.comment-author {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 600;
}

.comment-content {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}
