:root {
    --primary-color: #f05123;
    --title-color: #222222;
    --text-color: #292929;
    --white-color: #ffffff;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
}
